body {
	background-color: #333333;
}

.basic-content {
	font-family: monospace;
	color: orange;
	margin: 10px;
}

#top-body-div {
	background-color: #1e1e1e;
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom: 3%;
}

#sub-divs-container {
	padding-top: 10px;
	width: 90%;
	margin: auto;
}

#left-sub-div {
	visibility: hidden;
	background-color: #1e1e1e;
	width: 40%;
	float: left;
}

#right-sub-div {
	visibility: hidden;
	background-color: #1e1e1e;
	width: 40%;
	float: right;
}

.page-header {
	font-family: sans-serif;
	font-size: 4em;
	font-weight: bold;
	color: orange;
	text-align: center;
}

.page-subheader {
	font-family: monospace;
	font-size: 3em;
	font-weight: bold;
	color: orange;
	text-align: center;
	padding-bottom: 5%
}

#icon-div {
	padding-top: 50px;
	padding-bottom: 50px;
}

#more-info-icon {
	float: left;
}

#more-info-icon:hover {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
	-webkit-box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.67);
	-moz-box-shadow:    0px 0px 30px 0px rgba(255, 255, 255, 0.67);
	box-shadow:         0px 0px 30px 0px rgba(255, 255, 255, 0.67);
/* ripped off from http://stackoverflow.com/questions/25685794/css-image-border-glow-when-hover-with-individual-color */
}

#homework-icon {
	float: right;
}

#homework-icon:hover {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
	-webkit-box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.67);
	-moz-box-shadow:    0px 0px 30px 0px rgba(255, 255, 255, 0.67);
	box-shadow:         0px 0px 30px 0px rgba(255, 255, 255, 0.67);
/* ripped off from http://stackoverflow.com/questions/25685794/css-image-border-glow-when-hover-with-individual-color */
}