* {
  -webkit-transition: all 1s;
}

body {
	background-color: #333333;
}

.page-header {
	font-family: sans-serif;
	font-size: 4em;
	font-weight: bold;
	color: orange;
	text-align: center;
}

.page-subheader {
	font-family: sans-serif;
	font-size: 2em;
	font-weight: bold;
	color: orange;
	text-align: center;
}

#more-info-icon {
	padding-left: 45%
}

#homework-icon {
	padding-left: 5%
}